<c-col xs="12">
  <c-card class="mb-4">
      <c-card-header>
        <strong>Thay đổi chi tiết thủ thư</strong>
      </c-card-header>
    <c-card-body>
  <form cForm (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Tên</label>
    <input
      cFormControl
      id="first name"
      [(ngModel)]="_firstname"
      name="first_name"
    />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Họ</label>
    <input
      cFormControl
      id="last name"
      [(ngModel)]="_lastname"
      name="last_name"
    />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Email</label>
    <input cFormControl id="email" [(ngModel)]="_email" name="email" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Số điện thoại</label>
    <input cFormControl id="phone no" [(ngModel)]="_phoneno" name="phone_no" />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput1">Địa chỉ</label>
    <input cFormControl id="address" [(ngModel)]="_address" name="address" />
  </div>
  <div class="d-grid gap-2 col-1 mx-auto">
    <button type="submit" class="btn btn-success">Xác nhận</button>
  </div>
</form>
